{% extends 'flatpages/default.html' %}
{% load censor %}
{% load custom_tags %}


{% block title %}
Articles
{% endblock title %}

{% block content %}
    <h2 style="font-weight: normal;"> Количество статей: {{ page_obj.paginator.count }} </h2>
    <p>Сегодня: {{ time_now|date:'d M Y'  }}</p>
    <h3>{{ next_news|default_if_none:"" }}</h3>
    <h1>Все статьи</h1>

{% if user|has_perm:'News_Portal.add_post' %}
    <a href="{% url 'article_create' %}">Добавить статью</a>
{% endif %}

<form action="" method="get"
      {{ filterset.form.as_p }}

    <input type="submit" value="Найти" />
    </form>
    <hr>


    {% if page_obj %}
        <table cellspacing="10">
            <tr>
                <td>Заголовок</td>
                <td>Дата публикации</td>
                <td>Аннотация</td>
                <td>Автор</td>
            </tr>
            {% for post in page_obj %}
            <tr>
                <td><a href="{% url 'article_detail' post.id %}">{{ post.post_head|censor }}</a></td>
                <td>{{ post.post_origin|date:'d M Y' }}</td>
                <td>{{ post.post_text|truncatewords:20|censor }}</td>
                <td>{{ post.author.user.username }}</td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <h2>Статей пока нет!</h2>
    {% endif %}

<a href="?page=1">&laquo;first</a>

{% if page_obj.has_previous %}
    <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
{% endif %}

Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}

{% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
{% endif %}

{% if page_obj.number < page_obj.paginator.num_pages %}
    <a href="?page={{ page_obj.paginator.num_pages }}">last&raquo;</a>
{% endif %}


{% endblock content %}
