{% extends "flatpages/default.html" %}

{% block content %}
<h2>Страница авторизованного пользователя {{request.user.username}}</h2>
<div> Здесь может содержаться персональная информация для каждого пользователя </div>

{% if is_not_authors %}
<button> <a href="upgrade/"> Хочу в 'authors'!</a> </button>
{% endif %}
{% if user.is_authenticated %}
    <p><a href="{% url 'profile_update' user.pk %}">Редактировать</a></p>
{% endif %}

<button> <a href="accounts/logout/">Выйти</a> </button>

{% endblock %}