{% extends 'flatpages/default.html' %}
{% load censor %}
{% load custom_tags %}

{% block title %}
News
{% endblock title %}

{% block content %}
<h1>{{ News }}</h1>

<h3 style="font-weight: normal;">{{ news.post_origin|date:'d M Y' }}</h3>
<h4 style="font-weight: normal;">{{ news.post_text|censor }}</h4>
<h5 style="font-weight: normal;"> Рейтинг: {{ news.post_rate }} </h5>

{% if user|has_perm:'News_Portal.change_post' %}
<p><a href="{% url 'news_update' news.pk %}">Редактировать</a></p>
<p><a href="{% url 'news_delete' news.pk %}">Удалить</a></p>
<p><a href="{% url 'news_list' %}">К новостям</a></p>

{% endif %}

{% endblock content %}
